html
    head
        title!= title
    body
        a(href="http://www.teikoku-vol.com/public/wiki") back
        ul
            - for(var i of files ){
                li
                    a(href="/?name="+i) #{i}
            - }
        form(method="post" action="http://www.teikoku-vol.com:3001/save")
            textarea(name="content" style="width:100%;height:450px;") #{content}
            input(type="submit")
            input(type="hidden" name="name" value=title)
